.highlights {
    .background .column {
        padding: 3em 0 3em 0 !important;
    }

    h3 {
        font-size: 2em !important;
    }

    .project-button-wrapper {
        text-align: center;
        margin: 1em 0 0 0;
    }
}