@import '~semantic-ui-css/semantic.min.css';

@media all and (max-width: 736px) {
    .section-divider {
        margin-top: 4rem;
    }
}

@media all and (min-width: 737px) {
    .section-divider {
        margin-top: 8rem;
    }
}

.rounded, .circular {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}