.gallery {
    width: calc(100vw - 5rem) !important;
    height: calc(100vh - 5rem) !important;

    .gallery-actions {
        padding-bottom: 1em;
        text-align: center;
    }
}

.gallery.ui.active.modal.visible {
    display: flex !important;
    flex-direction: column;

    .content.gallery-main {
        flex-grow: 1;
        display: flex !important;
        flex-direction: column;

        .gallery-image {
            flex-grow: 1;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .gallery-description {
            text-align: center;
            padding-top: 1em;
        }
    }
}